body {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 0.82em;
}

#page {
    margin-left: 10%;
    width: 75%;
    border-left: dashed 1px grey;
    border-right: dashed 1px grey;
    margin-top: 0px;
    padding: 1em;
}

h1.header {
  font-size: 2em;
}

#menu {
    text-align: right;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
}

#menu ul {
    margin-left: 0px;
}

#menu ul li {
    display: inline;
}

#menu ul li a
{
padding: 0.5em 1.0em 0.9em 0.0em;
color: blue; 
text-decoration: none;
}

#menu ul li a:hover
{
text-decoration: underline;
}

img .logo {
    align: right;
}

#footer {
    margin-top: 2em;
    font-style: italic;
}

a {
    color: blue;
}

