[Desktop Entry]
Type=Application
Version=1.0
Name=Dact
Comment=Decaffeinated Alpino corpus tool
Exec=/usr/bin/dact
Categories=Science;Education
Icon=dact
