[Desktop Entry]
Type=Application
Version=1.0
Name=Dact
Comment=Decaffeinated Alpino corpus tool
Exec=dact %u
Categories=Science;Education
Icon=dact
MimeType=x-scheme-handler/dact
