Source: alpino-dact
Section: science
Priority: extra
Maintainer: Daniël de Kok <me@danieldk.eu>
Build-Depends: debhelper (>= 7.0.50~), cmake (>= 2.8.0), cdbs (>= 0.4.62), libboost1.53-dev (>= 1.53), libalpino-corpus-dev (>= 2.0.0), libxml2-dev (>= 2.7.8), libxqilla2.2-dev, libxerces-c-dev, libxslt1-dev (>= 1.1.26-7), libqt4-dev (>= 4.8.0)
Standards-Version: 3.9.3
Homepage: http://github.com/rug-compling/dact
Vcs-Git: git://github.com/rug-compling/dact.git
Vcs-Browser: https://github.com/rug-compling/dact

Package: alpino-dact
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Alpino treebank viewer/analyizer
 The Decafeinated Alpino Corpus Tool (Dact) is a program for browsing
 and querying large treebanks that were created using the Alpino parser
 for Dutch. Specific linguistic phenomena can be obtained by applying
 XPath queries.
