body {
  max-width: 800px;
  margin: 0px auto;
  padding: 0 1em;

  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 90%;
}

img {
  max-width: 100%;
}

h2 {
  color: #990000;
}

p {
  text-align: justify;
}
div.caption p {
        text-align: center;
}

table {
    border: 1px solid #000;
    border-width: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
}

table th {
    padding: 0.2em;
}

table td {
    padding: 0.2em;
}

.italic {
  font-style: italic;
}

pre {
  overflow: auto;
}

pre.screen {
  border: 1px dashed #94da3a;
  background-color: #e7ffc7;
  color: #000000;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

pre.programlisting {
  border: 1px dashed #b4baea;
  background-color: #f0f4ff;
  color: #000000;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.type {
    font-family: monospace;
}

.note, .tip {
  margin: inherit !important;
  padding: 0 .5em;
}

.note h3, .tip h3 {
  float: left;
  margin: 0;
  font-size: 1em;
}

.note h3:after, .tip h3:after {
  content: ':';
  margin-right: 0.5em;
}

.note {
  border-left: .5em solid #8cff80;
}

.tip {
  border-left: .5em solid #97afff;
}