body {
  max-width: 800px;
  margin: 1em auto;
  padding: 0 1em;

  font: 1em/1.5em helvetica, verdana, arial, sans-serif;
  font-size: 90%;
  color: #333;
}

img {
  max-width: 100%;
}

h2 {
  margin: .5em 0;
  padding: .5em 0;
  color: #000;
  border-bottom: 1px solid #ddd;
}

div.caption p {
  text-align: center;
}

table {
  border: 1px solid #000;
  border-width: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
}

table th {
  padding: 0.2em;
}

table td {
  padding: 0.2em;
}

.italic {
  font-style: italic;
}

/* Code blocks */

pre {
  background: #f8f8f8;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: monospace;
  color: #222;
  padding: 0;
  width: 100%;

  position: relative;
  overflow: hidden;
}

/* (Let the code element scroll instead of the pre element so we can attach buttons to the pre element that won't scroll with the code.) */

pre code {
  display: block;
  width: 100%;
  padding: 1em;
  overflow: scroll;
}

/* Quotes */

blockquote {
  display: inline-block;
  margin: 0;
  padding: .25em .25em .25em 1em;
  color: #666;
  border-left: 4px solid #ccc;
}

blockquote p {
  margin: 0;
}

blockquote a {
  color: #55f;
}

/* Nested links only show their underline when hovered */

blockquote a,
pre a {
  text-decoration: none;
}

blockquote a:hover,
pre a:hover {
  text-decoration: underline;
}

/* Make query blocks pretty, and prettify their "open in dact" links. */

pre .query {
  
}

pre .open-in-dact {
  position: absolute;
  top: -1px;
  right: -1px;
  font: 0.75em/1.0em helvetica, verdana, arial, sans-serif;
  text-decoration: none;
  color: #333;
  background: #eee;
  padding: 0.25em;
  border: 1px solid #ddd;
  border-radius: 0 0 0 3px;
}

/* Notes and tips in the manual */

.note, .tip {
  margin: inherit !important;
  padding: 0 .5em;
}

.note h3, .tip h3 {
  float: left;
  margin: 0;
  font-size: 1em;
}

.note h3:after, .tip h3:after {
  content: ':';
  margin-right: 0.5em;
}

.note {
  border-left: 4px solid #8cff80;
}

.tip {
  border-left: 4px solid #97afff;
}

/* ToC in the cookbook */

#markdown-toc a {
  text-decoration: none;
}

#markdown-toc a:hover {
  text-decoration: underline;
}

@media screen and (min-width:1300px) {
  #markdown-toc {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background: #eee;
    border-right: 1px solid #ccc;
    margin: 0;
    padding: 1em 1em 1em 2em;
    overflow: auto;
  }
}